{
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
		"plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
	],
	"parserOptions": {
		"ecmaVersion": 2018, // Allows for the parsing of modern ECMAScript features
		"sourceType": "module", // Allows for the use of imports
		"ecmaFeatures": {
			"jsx": true // Allows for the parsing of JSX
		}
	},
	"parser": "@typescript-eslint/parser",
	"plugins": ["prettier"],
	"rules": {
		"prettier/prettier": "error",
		"jsx-a11y/no-redundant-roles": "off",
		"react/prop-types": "off",
		"no-extra-boolean-cast": "off",
		"@typescript-eslint/no-use-before-define": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/camelcase": "off",
		"@typescript-eslint/ban-ts-ignore": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/class-name-casing": "off",
		"react-native/no-inline-styles": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off"
	},
	"settings": {
		"react": {
			"version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
		}
	}
}
